#news_container
{
	height: 25px;
	font-family: arial;
	font-size: 12px;
	white-space: nowrap;
	direction: rtl;
	overflow: hidden;
	position: absolute;
	right: 32px;
	top: -15px;
}
#ruler { visibility: hidden; white-space: nowrap; }
#labelImage
{
	background-color:white;
	height:19px;
	width:29px;
	position:absolute;
	top:0;
	right:0;
}
#god
{
	width: 260px;
	height: 18px;
	overflow: hidden;
	position: relative;
	border: 1px solid black;
	top:0px;
	background-color: #2a5067;	
}
/*A:link {text-decoration: none;color: white;}
A:visited {text-decoration: none;color: white;}
A:active {text-decoration: none;color: white;}
A:hover {text-decoration: underline; color: white;}*/
#container { height: 23px; margin-top: 3px; width: 240px;}
#openInNewTab
{
	color: white;
	cursor: pointer;
}
html,body{overflow:hidden;padding:0;margin:0; }