BODY
{
        margin:0 0 0 2px;   
        background-color:threedface; 
        overflow: hidden;
	cursor:pointer;
}
div
{
        float:left;
        height:26px;
        cursor:pointer;    	    
}
div img
{
	cursor:pointer;
}