html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 26px;
}

.btnContainer {
    float: left;
    width: 80px;
    height: 20px;
    margin-top: 3px;
    cursor: pointer;
}

#gadgetFigure{
    position: absolute;
    top: 7px;
    left: 3px;
    width: 13px;
    height: 12px;
    background: url('images/sprite_icons.png') 0 -146px;
}
.btnContainer:hover .leftBtn,.btnContainer:hover .textBtn, .btnContainer:hover .rightBtn
{
    background-position: 0 -20px;
}
.leftBtn {
    float: left;
    height: 20px;
    width: 5px;
    background: url('images/blue_left_btn.png') no-repeat;
}
.textBtn {
    height: 18px;
    padding: 2px 8px 0 13px;
    font: 11px arial, sans-serif;
    float: left;
    background: url(images/blue_center_btn.png) 0 0 repeat-x;
    line-height: 16px;
}
.rightBtn{
    float: left;
    height: 20px;
    width: 5px;
    background: url('images/blue_right_btn.png') no-repeat;
}
.btnContainer:hover .leftBtnBlue,.btnContainer:hover .textBtnBlue, .btnContainer:hover .rightBtnBlue
{
    background-position: 0 -20px;
}