body
{
	font-family:Arial;
	font-size:12px;
	overflow:hidden;
	margin:0px;
	height:503px;
	position:absolute;
	top:-12px;
}

hr
{
	margin-right:4px;
}

.progress
{
	position:absolute;
}

.tabs
{
	padding-left:25px;
	padding-top:5px;
	height:28px;
}	

.tabs img
{
	cursor:pointer;
	margin-right:3px;
}

.contentBoxMikee
{
	height:493px;
	width:465px;
	background-image:url(../Images/basic_box_mikee.jpg);
	background-repeat:no-repeat;	
}

.contentBoxMikee p
{
	margin-bottom: 11px;
}

.contentBoxMikee p a img
{
	border:none;
}

.contentBoxMikee p a:hover
{
	text-decoration:none;
}

.contentBox
{
	height:503px;
	width:465px;
	background-image:url(../Images/container_main.gif);
	background-repeat:no-repeat;	
}

.contentBox p a img
{
	border:none;
}

.contentBox p a:hover
{
	text-decoration:none;
}

.logo
{
	margin-left:25px;
	margin-top:16px;
}

.contentWrapper
{	
	height:333px;
	width:406px;
	position:relative;
	left:25px;
	background-color:White;
	border:solid 1px #9DB0BC;
	overflow:hidden;
}

.contentWrapperTechCrunch
{	
	height:333px;
	width:406px;
	position:relative;
	left:25px;
	background-color:White;
	border:solid 1px #21AD13;
	overflow:hidden;
}

.contentHeader
{
	margin-top:10px;
	position:relative;
	height:20px;
	width:380px;
	background-color:#C2C2C2;
	left:14px;
}

.contentHeader p
{	
	position:relative;
	top:4px;
	font-weight:bold;
	font-size:12px;
	color:#335499;
	margin-left:4px;
}

.content
{	
	position:relative;
	height:287px;
	width:378px;
	left:14px;
	border:solid 1px gray;
}

.twitterAvatar
{
	background-image:url(../Images/BG.gif);
	background-repeat:repeat-x;
	position:relative;
	height:53px;/*Was 53 */
	width:378px;
	left:14px;
	border-left:solid 1px gray;
	border-right:solid 1px gray;
	z-index:100;
	display:none;
}

.twitterAuthorImage img
{
	float:left;
	width:40px;/* Was 40 */
	height:40px;
	margin:6px 5px 0px 5px;	
	border:none;
	text-decoration:none;
}

.twitterText
{
	float:left;
	font-size:10px;
	position:absolute;
	top:6px;
	left:52px;
}

.twitterAuthorName
{
	font-weight:bold;
	color:Black;
}

.twitterAuthorFollowMe img
{
	border:none;
	text-decoration:none;
	margin-top:2px;
}

.contentText
{
	margin-top:10px;
	vertical-align:top;
	position:relative;
	height:287px;
	width:378px;
	left:5px;
}

.imageCell img
{ 	
	border:none;
	margin-right:4px;
	display:none;
}

a
{
	margin-right:4px;
	text-decoration:none;	
	font-size:12px;
	font-weight:bold;
	color:#335499;
}

a:visited
{
	text-decoration:none;
	font-size:11px;
	font-weight:bold;
	color:#335499;
}

a:hover
{
	text-decoration:underline;
	font-size:12px;
	font-weight:bold;
	color:#335499;
}

.text
{
	margin-right:4px;
	color:#555555;
	font-size:12px;
}

.date
{
	color:#335499;
	font-size:12px;
}

.footer
{
	float:right;
	margin-right:25px;
	margin-top:30px;	
}

.footer a img
{
	border:none;
	vertical-align:top;
}

.footer a:hover
{
	text-decoration:none;
}

.AppPowered
{
	color:Black;
	margin-right:4px;
	font-size:11px;
	font-weight:normal;
	vertical-align:top;
}

.closeTech
{
	vertical-align:top;
	margin:8px 0px 0px 170px;	
}

.closeRWW
{
	vertical-align:top;
	margin:8px 0px 0px 68px;	
}

.closeMash
{
	vertical-align:top;
	margin:8px 0px 0px 172px;	
}

.closeCI
{
	vertical-align:top;
	margin:8px 0px 0px 292px;
	cursor:pointer;
}

.closeMikee
{
	vertical-align:top;
	margin:8px 0px 0px 4px;
}

.imageCell td:first-child
{
	width:150px;	
}



