/* Global */

html { overflow: hidden; }

/* End of Global */
/* Common */

.label { display: block; float: left; padding-top: 5px; padding-right: 1px; }
.temp { display: block; float: right; padding-top: 5px; padding-left: 1px; }

/* End of Common */
/* Components */

.comp { height: 24px; display: block; float: left; margin-top: 1px; }
.comp:hover { background: url('../images/hover.gif') bottom left repeat-x; border: 1px solid #9398a5; }
.comp a { height: 24px; display: block; font-size: 11px; color: #333; text-decoration: none; }
.comp img { display: inline; }
.comp:hover .comp-wrapper { padding: 5px; }
.comp-wrapper { padding: 6px; }

.comp-1 {}
/*.comp-1 li { height: 21px; display: block; width: 40px; text-align: center; float: left; font-size: 11px; color: #333; text-decoration: none; padding: 6px 5px 0 5px; cursor: pointer; }*/
.comp-1 .drop {}
.comp-1 .drop a { padding: 11px 6px 0 4px; }
.comp-1 .drop a:hover { border-left: 1px solid #9398a5; }
.comp-1:hover .drop a { padding: 10px 5px 0 6px; }
.comp-1:hover .drop a:hover { padding: 10px 5px 0 5px; }
.comp-1:hover .comp-wrapper { padding-right: 4px; }
.comp-1 .comp-wrapper {}

.comp-2 {}
.comp-2:hover .comp-wrapper { padding-top: 0; }
.comp-2 .comp-wrapper { padding-top: 1px; }

.comp-3 {}
.comp-3:hover .comp-wrapper { padding-top: 0; }
.comp-3 .comp-wrapper { padding-top: 1px; }

.comp-4 {}
.comp-4:hover .comp-wrapper { padding-top: 0; }
.comp-4 .comp-wrapper { padding-top: 1px; }

.comp-5 img, .comp-6 img, .comp-7 img { width: 20px; height: 20px; }
.comp-5 .comp-wrapper, .comp-6 .comp-wrapper, .comp-7 .comp-wrapper { padding-top: 3px; }
.comp-5:hover .comp-wrapper, .comp-6:hover .comp-wrapper, .comp-7:hover .comp-wrapper { padding-top: 2px; }

.comp-5 {}
.comp-5 .comp-wrapper {}

.comp-6 {}
.comp-6 .comp-wrapper {}

.comp-7 {}
.comp-7 .comp-wrapper {}

/* End of Components */