#container
{
	background:url(../images/bg.jpg) no-repeat;
	height:324px;
	width:575px;
	position:relative;
}
#header
{
	height: 50px;
	width: 100%;
}
#changeLocation
{
	background:url(../images/settings.png) no-repeat center center;
	margin-right: 4px;
	width: 32px;
	height: 100%;
	float: right;
	cursor: pointer;
}
#changeLocation:hover
{
	background:url(../images/settings_over.png) no-repeat center center;
}
#cityDetails
{
	margin: 4px 7px 0 0;
	width: 410px;
	height: 90%;
	float: right;
	text-align:right;
}
#cityName
{
	display: block;
	font-weight: bold;
	font-family: arial,sans-serif;
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
	width: 410px;
}
#regionCountry
{
	display: block;
	font-weight: bold;
	font-family: arial,sans-serif;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	width: 410px;
}

#yellowBreaker
{
	position: relative;
	clear: both;
	height: 32px;
	padding: 0px 0 0 0;
	background:url(../images/yellow_strip.gif) repeat-x;
}
#backButton
{
	display: none;
	position: absolute;
	left: 8px;
	top: 2px;
	height: 27px;
	width: 77px;
	background:url(../images/back.png) no-repeat;
	cursor: pointer;
}
#backButton:hover
{
	background:url(../images/back_over.png) no-repeat;
}
#yellowBreakerText
{
	position: absolute;
	top: 4px;
	left: 0px;
	display: block;
	font-family:arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	height: 20px;
	width: 100%;
}
#search
{
	position: absolute;
	top: 80px;
	left: 10px;
	height: 185px;
	width:550px;
	margin-left: auto;
	margin-right: auto;
	background: #FAFAFA;
	background-image: url(../images/search_bg.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	/*border: 1px solid #000000;*/
	/*border-top: 0px;*/
	display: none;
	z-index: 10;
}
#searchClose
{
	float:right;
	height: 14px;
	width: 14px;
	margin: 4px 3px 0 0;
	background: url(../images/close.png) no-repeat;
	cursor: pointer;
}
#searchContainer
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	background: url(../images/search_box.png) no-repeat;
	width: 440px;
	height: 41px;
}
#searchWrapper
{
	position: relative;
	top: 6px;
	width: 390px;
	height: 24px;
	margin-left: auto;
	margin-right: auto;
	background: #FFFFFF;
	border: 2px solid #FDAB16;
}
#searchInput
{
	border: none;
	width: 320px;
	height: 22px;
	margin: 1px 0 0 1px;
	background: none;
	float: left;
}
#searchBtn
{
	height: 22px;
	width: 66px;
	background: url(../images/search_btn.gif) no-repeat;
	float: right;
	margin: 1px 1px 0px 0;
	cursor: pointer;
}
#searchResults
{
	position: relative;
	top: 8px;
	height: 110px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	/*border: 1px solid #000000;*/
	overflow-x: hidden;
	overflow-y: auto;
}
ul
{
	margin-top: 5px;
}
li.result
{
	font-family:arial, sans-serif;
	font-size: 12px;
	text-align: left;
	line-height: 130%;
	list-style-type: square;
	color: #4465B5;
	text-decoration: none;
}
li.result:hover
{
	color: #1059D7;
	text-decoration: underline;
	cursor: pointer;
}
#weatherPane
{
	text-align: center;
	position: relative;
	height:160px;
	/*width:100%;*/
	margin: 6px 0 0 0;
	/* for IE 
	filter:alpha(opacity=30);
	/* CSS3 standard (FF)
	opacity:0.3;*/
}
#extendedWeatherPane
{
	text-align: center;
	position: relative;
	height:160px;
	width:100%;
	margin: 6px 0 0 0;
	display: none;
	/* for IE 
	filter:alpha(opacity=30);
	/* CSS3 standard (FF)
	opacity:0.3;*/
}
.weatherDisplay
{
	display: inline;
	height: 155px;
	width: 131px;
	margin: 0px 29px 5px 29px;
	float: left;
	visibility: hidden;
	background: url(../images/frame.png) 0 0 no-repeat;
}
.weatherDisplay:hover
{
	background: url(../images/frame_over.png) 0 0 no-repeat;
	cursor: pointer;
}
.extendedWeatherDisplay
{
	height: 155px;
	width: 131px;
	margin: 0px 5px 5px 5px;
	float: left;
	cursor: default;
}
.dayDate
{
	display: block;
	font-family: arial,sans-serif;
	color: #2c3578;
	font-size: 14px;
	margin-top: 3px;
	text-align: center;
}
.weatherImage
{
	background-image: url(../images/noimg.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 50px;
	margin: 0px 0 4px 0;
}
.weatherCondition
{
	display: block;
	font-family: arial,sans-serif;
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 100%;
	width: 90%;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
}
.temperatures
{
	display: block;
	font-family: arial,sans-serif;
	color: #000000;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	line-height: 150%;
}
#detailsBreaker 
{
	font-family: arial, sanf-serif;
	font-size: 10px;
	height: 12px;
	margin-left: 10px;
	text-align: left;
}
a.moreDetails, a.moreDetails:visited
{
	color: #2750ef;
	text-decoration:none;
}
a.moreDetails:hover
{
	text-decoration:underline;
}
#warningBreaker
{
	position: relative;
	color: white;
	height: 29px;
	font-family: arial,sans-serif;
	font-size: 14px;
	margin: 3px 0 0 0;
	background-image:url(../images/blue_strip.gif);
	background-repeat: repeat-x;
	z-index: 20;
}
#warningHeader
{
	display: block;
	float: left;
	width: 26%;
	font-weight: bold;
	margin-top:7px;
	text-align: right;
}
#warningText
{
	display: block;
	float: left;
	width: 73%;
	text-align: center;
	cursor: pointer;
	margin-top:7px;
}
#warningText:hover
{
	text-decoration:underline;
}
#conduitBreaker
{
	margin: 2px 10px 2px 0;
	clear: both;
	width: 97%;
	height: 40px;
	font-family: arial, sans-serif;
	background:url(../images/powered.png) no-repeat right center;
	cursor: pointer;
}
#wetterLogo
{
	display: block;
	background:url(../images/logo.png) no-repeat;
	/*float: left;*/
	clear: both;
	position: relative;
	left: 8px;
	width:179px;
	height: 39px;
	margin: 4px 0 0 0;
	cursor: pointer;
}

#warningTitle {}
body
{
	overflow:hidden;
	margin: 0;
}