/*body { 
        font-family: Arial, Helvetica, sans-serif;
	margin-left:0; margin-right:0; margin-top:0; margin-bottom:0; width:100%; height:100%; overflow:hidden; background-color:threedface; 
	font-size: 10px; 
}
div {
	float: left
}

*/
a {
	text-decoration: none;
}

table {
	background-color: #171717;
}



.team1, .score1 {
        color: green;
	font-size: 10px; 
}

.team2, .score2 {
        color: red;
	font-size: 10px;
}

.timeRemaining, .white {
	color: white;
        font-size: 10px;
}

/* elad */
.breaker {float:none; clear:both; }


.buttonGreen { float: left; margin: 2px; background:url(../../images/LiveGames/live-game-status.png) no-repeat; width: 11px; height: 22px;}
.team { float: left; background:url(../../images/LiveGames/team-box02.png) no-repeat; width: 52px; height: 22px; margin:2px 0 0 3px; }

.teamName { float: left; font-family: Arial; font-size: 10px; font-weight: bold; margin: 5px 0 0 4px; color: black} 
.teamScore { float:left; font-family: Arial; font-size: 12px; font-weight: bold; color: red; margin: 3px 0 0 2px;} 
.vsIcon {float: left; background: url(../../images/LiveGames/vs.png) no-repeat; width: 13px; height: 11px; margin: 8px 0 0 6px;}
.period { margin: 2px 0 0 5px;padding: 1px;text-align:center; line-height:20px; float: left; width: 17px; height: 22px; font-family: Arial; font-size: 15px; font-weight: bold; color: yellow; background: url(../../images/LiveGames/period-box.png) no-repeat;}
.timeRemaining {float: right; background: url(../../images/LiveGames/watch-live-box02.png) no-repeat; width: 65px; height: 22px; padding: 3px;font-family: Arial; font-size: 15px; font-weight: bold; color: yellow; margin: 2px 0 0 0; text-align:center}

/* Scroller Box */
#scroller_container {
 position: relative;
 width: 300px;
 height: 22px;
 overflow: hidden;
}

#scroller {
 white-space: nowrap;
 line-height: 60px;
 font-size: 20px;
}

#scroller p {
 padding: 0;
}
/* Scoller Box */
